In [1]:
pip install pymongo

Requirement already satisfied: pymongo in c:\anaconda3\lib\site-packages (4.12.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\anaconda3\lib\site-packages (from pymongo) (2.7.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://ambily:ambily@cluster0.knhkoy9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [3]:
db=client['MyTest_DB']

In [4]:
creating_collection=db['MyRecords']

In [5]:
data = {"name" : "sudhAmy",
        "class" : "data science masters ",
        "timing " : "flexi"
}

In [6]:
creating_collection.insert_one(data)

InsertOneResult(ObjectId('68234f8853347d83bcbb88cc'), acknowledged=True)

In [7]:
data2 = {"list_course" : ["data science masters " , "web dev " , "java with DSA"],
        "mentor" : ["A" , "B" , "C"]}

In [8]:
creating_collection.insert_one(data2)

InsertOneResult(ObjectId('68234f8853347d83bcbb88cd'), acknowledged=True)

In [9]:
 data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [10]:
creating_collection.insert_many(data3)

InsertManyResult([ObjectId('68234f8e53347d83bcbb88ce'), ObjectId('68234f8e53347d83bcbb88cf'), ObjectId('68234f8e53347d83bcbb88d0'), ObjectId('68234f8e53347d83bcbb88d1'), ObjectId('68234f8e53347d83bcbb88d2'), ObjectId('68234f8e53347d83bcbb88d3'), ObjectId('68234f8e53347d83bcbb88d4'), ObjectId('68234f8e53347d83bcbb88d5'), ObjectId('68234f8e53347d83bcbb88d6'), ObjectId('68234f8e53347d83bcbb88d7'), ObjectId('68234f8e53347d83bcbb88d8'), ObjectId('68234f8e53347d83bcbb88d9')], acknowledged=True)

In [11]:
# display all records

for i in creating_collection.find():
    print(i)

{'_id': ObjectId('68234a88a13f2134fc0ba363'), 'name': 'sudhAmy', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('68234a88a13f2134fc0ba364'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['A', 'B', 'C']}
{'_id': ObjectId('68234a89a13f2134fc0ba365'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('68234a89a13f2134fc0ba366'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('68234a89a13f2134fc0ba367'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('68234a89a13f2134fc0ba368'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('68234a89a13f2134fc0ba369'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('68234a89a13f2134fc0ba36a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('68234a89a13f2134fc0ba36b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('68234a89a13f2134fc0ba36c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('68234a89a13f2134fc0ba36d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('68234a89a13f2134fc0ba36e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('68234a89a13f2134fc0ba36f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('68234a89a13f2134fc0ba370'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('68234a8aa13f2134fc0ba371'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('68234a8aa13f2134fc0ba372'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('68234a8aa13f2134fc0ba373'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('68234ebdf0986e6b20bb3ca8'), 'name': 'sudhAmy', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('68234ebdf0986e6b20bb3ca9'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['A', 'B', 'C']}
{'_id': ObjectId('68234ebdf0986e6b20bb3caa'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('68234ebdf0986e6b20bb3cab'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('68234ebdf0986e6b20bb3cac'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('68234ebdf0986e6b20bb3cad'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('68234ebdf0986e6b20bb3cae'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('68234ebdf0986e6b20bb3caf'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('68234ebdf0986e6b20bb3cb0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('68234ebdf0986e6b20bb3cb1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('68234ebdf0986e6b20bb3cb2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('68234ebdf0986e6b20bb3cb3'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('68234ebdf0986e6b20bb3cb4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('68234ebdf0986e6b20bb3cb5'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('68234ebef0986e6b20bb3cb6'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('68234ebef0986e6b20bb3cb7'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('68234ebef0986e6b20bb3cb8'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('68234f8853347d83bcbb88cc'), 'name': 'sudhAmy', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('68234f8853347d83bcbb88cd'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['A', 'B', 'C']}
{'_id': ObjectId('68234f8e53347d83bcbb88ce'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('68234f8e53347d83bcbb88cf'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('68234f8e53347d83bcbb88d0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('68234f8e53347d83bcbb88d1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('68234f8e53347d83bcbb88d2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('68234f8e53347d83bcbb88d3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('68234f8e53347d83bcbb88d4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('68234f8e53347d83bcbb88d5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('68234f8e53347d83bcbb88d6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('68234f8e53347d83bcbb88d7'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('68234f8e53347d83bcbb88d8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('68234f8e53347d83bcbb88d9'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [12]:
creating_collection.find_one()

{'_id': ObjectId('68234a88a13f2134fc0ba363'),
 'name': 'sudhAmy',
 'class': 'data science masters ',
 'timing ': 'flexi'}

In [13]:
for i in creating_collection.find({'name': 'Amy'}):
    print(i)

{'_id': ObjectId('68234a89a13f2134fc0ba365'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('68234ebdf0986e6b20bb3caa'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('68234f8e53347d83bcbb88ce'), 'name': 'Amy', 'address': 'Apple st 652'}

In [14]:
creating_collection.find_one({'name': 'Michael'})

{'_id': ObjectId('68234a89a13f2134fc0ba367'),
 'name': 'Michael',
 'address': 'Valley 345'}

In [15]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [16]:
creating_collection.insert_many(list_of_records)

InsertManyResult([ObjectId('68234f8e53347d83bcbb88da'), ObjectId('68234f8e53347d83bcbb88db'), ObjectId('68234f8e53347d83bcbb88dc')], acknowledged=True)

In [17]:
for i in creating_collection.find():
    print(i)

{'_id': ObjectId('68234a88a13f2134fc0ba363'), 'name': 'sudhAmy', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('68234a88a13f2134fc0ba364'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['A', 'B', 'C']}
{'_id': ObjectId('68234a89a13f2134fc0ba365'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('68234a89a13f2134fc0ba366'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('68234a89a13f2134fc0ba367'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('68234a89a13f2134fc0ba368'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('68234a89a13f2134fc0ba369'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('68234a89a13f2134fc0ba36a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('68234a89a13f2134fc0ba36b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('68234a89a13f2134fc0ba36c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('68234a89a13f2134fc0ba36d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('68234a89a13f2134fc0ba36e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('68234a89a13f2134fc0ba36f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('68234a89a13f2134fc0ba370'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('68234a8aa13f2134fc0ba371'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('68234a8aa13f2134fc0ba372'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('68234a8aa13f2134fc0ba373'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('68234ebdf0986e6b20bb3ca8'), 'name': 'sudhAmy', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('68234ebdf0986e6b20bb3ca9'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['A', 'B', 'C']}
{'_id': ObjectId('68234ebdf0986e6b20bb3caa'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('68234ebdf0986e6b20bb3cab'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('68234ebdf0986e6b20bb3cac'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('68234ebdf0986e6b20bb3cad'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('68234ebdf0986e6b20bb3cae'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('68234ebdf0986e6b20bb3caf'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('68234ebdf0986e6b20bb3cb0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('68234ebdf0986e6b20bb3cb1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('68234ebdf0986e6b20bb3cb2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('68234ebdf0986e6b20bb3cb3'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('68234ebdf0986e6b20bb3cb4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('68234ebdf0986e6b20bb3cb5'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('68234ebef0986e6b20bb3cb6'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('68234ebef0986e6b20bb3cb7'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('68234ebef0986e6b20bb3cb8'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('68234f8853347d83bcbb88cc'), 'name': 'sudhAmy', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('68234f8853347d83bcbb88cd'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['A', 'B', 'C']}
{'_id': ObjectId('68234f8e53347d83bcbb88ce'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('68234f8e53347d83bcbb88cf'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('68234f8e53347d83bcbb88d0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('68234f8e53347d83bcbb88d1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('68234f8e53347d83bcbb88d2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('68234f8e53347d83bcbb88d3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('68234f8e53347d83bcbb88d4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('68234f8e53347d83bcbb88d5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('68234f8e53347d83bcbb88d6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('68234f8e53347d83bcbb88d7'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('68234f8e53347d83bcbb88d8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('68234f8e53347d83bcbb88d9'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('68234f8e53347d83bcbb88da'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('68234f8e53347d83bcbb88db'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('68234f8e53347d83bcbb88dc'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [18]:
# Changing the default id to integer

new_collection = db["MyRecordsIntID"]
docs = list(db["MyRecords"].find())

for i, doc in enumerate(docs, start=1):
    doc.pop("_id", None)       # Remove original ObjectId
    doc["_id"] = i             # Set new integer ID
    new_collection.insert_one(doc)

In [19]:
# Drop and Recreate the Target Collection if Needed(Duplicate key error)
# db["MyRecordsIntID"].drop()

In [20]:
for i in new_collection.find():
    print(i)

{'_id': 1, 'name': 'sudhAmy', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': 2, 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['A', 'B', 'C']}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 15, 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': 16, 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': 17, 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': 18, 'name': 'sudhAmy', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': 19, 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['A', 'B', 'C']}
{'_id': 20, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 21, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 22, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 23, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 24, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 25, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 26, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 27, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 28, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 29, 'name': 'William', 'address': 'Central st 954'}
{'_id': 30, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 31, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 32, 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': 33, 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': 34, 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': 35, 'name': 'sudhAmy', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': 36, 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['A', 'B', 'C']}
{'_id': 37, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 38, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 39, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 40, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 41, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 42, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 43, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 44, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 45, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 46, 'name': 'William', 'address': 'Central st 954'}
{'_id': 47, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 48, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 49, 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': 50, 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': 51, 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [21]:
for i in  new_collection.find({'_id' : {'$gte' : 14}}):
    print(i)

{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 15, 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': 16, 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': 17, 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': 18, 'name': 'sudhAmy', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': 19, 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['A', 'B', 'C']}
{'_id': 20, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 21, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 22, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 23, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 24, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 25, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 26, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 27, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 28, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 29, 'name': 'William', 'address': 'Central st 954'}
{'_id': 30, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 31, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 32, 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': 33, 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': 34, 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': 35, 'name': 'sudhAmy', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': 36, 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['A', 'B', 'C']}
{'_id': 37, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 38, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 39, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 40, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 41, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 42, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 43, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 44, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 45, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 46, 'name': 'William', 'address': 'Central st 954'}
{'_id': 47, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 48, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 49, 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': 50, 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': 51, 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [22]:
new_collection.update_many({'companyName': 'iNeuron'} ,{"$set" :{'companyName': 'pwskills'}} )

UpdateResult({'n': 9, 'electionId': ObjectId('7fffffff000000000000001a'), 'opTime': {'ts': Timestamp(1747144606, 16), 't': 26}, 'nModified': 9, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1747144606, 16), 'signature': {'hash': b'\x17\xb3q\xbcr\x8fH9X\xf0\x8c|K/\x85m\xe0"\xa5\xae', 'keyId': 7480254367157714950}}, 'operationTime': Timestamp(1747144606, 16), 'updatedExisting': True}, acknowledged=True)

In [23]:
new_collection.drop()

In [24]:
for i in new_collection.find():
    print(i)

In [25]:
# Delete old collection and rename new one
#db.creating_collection.drop()

# drop db

#client.drop_database("MyTest_DB")